//Default Colors
$color-primary: #5C267B;
$color-secondary: #D11A17;
$color-primary-light: #664777;
$color-primary-dark: #401a56;

//Validation Colors
$color-error: #D8000C;
$color-success: #4F8A10;
$color-warning: #ffb900;


//Greys
$color-grey-light: #eee;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

//Black and white
$color-white: #fff;
$color-black: #000;

//Extra Colors
$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;
$color-green-light: #55c57a;
$color-green-dark: #28b485;
$color-red: #D11A17;
$color-pink: #BC32AA;
$color-purple: #861388;
$color-coolblue-light: #449DD1;
$color-coolblue-dark: #150578;
$color-raspberry-light: #ec7079;
$color-raspberry-dark: #d02828;



//Card Colors
$card-one-primary: $color-primary;
$card-one-secondary: $color-secondary;
$card-two-primary: $color-orange-light;
$card-two-secondary: $color-orange-dark;
$card-three-primary: $color-green-light;
$card-three-secondary: $color-green-dark;

// Demo Card Colors
// $card-one-primary: $color-coolblue-light;
// $card-one-secondary: $color-coolblue-dark;
// $card-two-primary: $color-green-light;
// $card-two-secondary: $color-green-dark;
// $card-three-primary: $color-raspberry-light;
// $card-three-secondary: $color-raspberry-dark;




//Grid & Gutter 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font Sizes
$default-font-size: 1.6rem;
$second-font-size: 1.5rem;







