//Colors
/* 
    Brand Colors
    Purple: #5C267B
    Red: #D11A17
    Aqua: #B9DAD0
    Grey: #C7C8CA
    Blue: #7EA8AD

*/

//Brand - purple
$color-primary: #5c267b;
$color-primary-light: #664777;
$color-primary-dark: #401a56;

$color-secondary: #D11A17;


//Greys
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

//Secondary
$color-white: #fff;
$color-black: #000;
//---------------------

//Grids
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font Sizes
$default-font-size: 1.6rem;
$second-font-size: 1.5rem;







