@import url("https://fonts.googleapis.com/css?family=Lato");
$font-family: "Lato", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/** 
    Root HTML - 1 rem = 10px
    absolute default = 16px
    10 / 16 = 0.625%
    .625*16 = 10
    0.625*22 - 13.75px etc
*/

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  box-sizing: border-box;
}
