//Define default font
@import url("https://fonts.googleapis.com/css?family=Lato");
$font-family: "Lato", sans-serif;

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
// $font-family: 'Indie Flower', cursive;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  box-sizing: border-box;
}
