//Center Text 
.util-center-text {
    text-align: center !important;
}

//Margin bottom
.util-mb-8 {
    margin-bottom: 8rem !important;
}
.util-mb-7 {
    margin-bottom: 7rem !important;
}
.util-mb-6 {
    margin-bottom: 6rem !important;
}
.util-mb-5 {
    margin-bottom: 5rem !important;
}
.util-mb-4 {
    margin-bottom: 4rem !important;
}
.util-mb-2 {
    margin-bottom: 2rem !important;
}
.util-mb-1 {
    margin-bottom: 1rem !important;
}

//margin top
.util-mt-1 {
    margin-top: 1rem !important;
}
.util-mt-2 {
    margin-top: 2rem !important;
}
.util-mt-3 {
    margin-top: 3rem !important;
}
.util-mt-4 {
    margin-top: 4rem !important;
}
.util-mt-5 {
    margin-top: 5rem !important;
}
.util-mt-6 {
    margin-top: 6rem !important;
}
.util-mt-7 {
    margin-top: 7rem !important;
}
.util-mt-8 {
    margin-top: 8rem !important;
}
.util-mt-9 {
    margin-top: 9rem !important;
}