.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -25vh;
}

// Feature Section
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, .8),
      rgba($color-secondary, .8)
    );
    background-size: cover;
    transform: skewY(-5deg);
    margin-top: -11rem;
    
    //select all the childs
    & > * {
        transform: skewY(5deg);

    }
}

// Card Section
.section-cards {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -11rem;
}

// User Stories Section
.section-user {
    position: relative;    
    padding: 15rem 0;
    
}


